.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.big {
  display: block;
  width: 800px;
  height: 700px;
}
.text {
  font-size: 28px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #02b589;
}
.logodiv {
  display: flex;
  align-items: center;
  width: 800px;
  height: 100px;
  justify-content: center;
}
.logo {
  width: 140px;
  height: 90px;
}
.text {
  font-size: 28px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #02b589;
}
.bigdiv {
  margin-top: 50px;
}
.users {
  display: block;
  width: 800px;
  height: 460px;
}
.user {
  display: flex;
  align-items: center;
  width: 800px;
  height: 60px;
  border-bottom: 1px solid rgb(183, 183, 183);
}
.name {
  display: block;
  width: 220px;
  height: 45px;
}
.id {
  display: block;
  width: 310px;
  height: 45px;
}
.role {
  display: block;
  width: 270px;
  height: 45px;
}
.olddiv {
  display: block;
  margin-bottom: 10px;
}
.oldtext {
  font-size: 13px;
  font-weight: 600;
  color: rgb(112, 112, 112);
}
.oldlink {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.newdiv {
  display: block;
  margin-left: 150px;
  margin-top: 20px;
}
.newtext {
  font-size: 13px;
  font-weight: 600;
  color: rgb(112, 112, 112);
}
.newlink {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.new {
  display: flex;
}
.delete {
  font-size: 15px;
  margin-top: 9px;
  margin-left: -90px;
  font-weight: 600;
  color: red;
}
